# Kirby .htaccess

RewriteEngine on

# Pass the Authorization header to PHP
SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1

# Block files and folders beginning with a dot, except .well-known
RewriteRule (^|/)\.(?!well-known/) index.php [L]

# Block direct access to Kirby internals
RewriteRule ^(content|site|kirby)/(.*) index.php [L]

# Serve existing files and folders directly
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [L]

# Let Kirby handle everything else
RewriteRule ^(.*) index.php [L]

#<MITTWALD HTACCESS_USER>
# PLEASE DO NEVER CHANGE THE CODE INSIDE THE <MITTWALD> MARKERS.
# VERAENDERN SIE BITTE NIEMALS DEN INHALT ZWISCHEN DEN <MITTWALD> MARKERN.

AuthType Basic
AuthName "Bald fertig"
AuthUserFile /home/www/p708685/html/soi/public/.htpasswd.mittwald
order deny,allow
allow from all
require valid-user
#</MITTWALD HTACCESS_USER>
